* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-size: 18px;
  color: #1e1f20;
  transform: scale(1);
  transform-origin: 0 0;
  width: 996px;
}
.container {
  width: 996px;
  padding: 10px 0px 10px 0px;
  background-size: 100% 100%;
}
.logo {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 20px 0 10px 0;
}
.calendar {
  min-height: 400px;
  position: relative;
  padding: 1px 0;
  width: 956px;
  margin: 20px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.cal-bg {
  position: absolute;
  width: 956px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  border-collapse: collapse;
  height: 100%;
  box-shadow: 0 0 1px 0 #fff inset;
  border-radius: 10px;
  overflow: hidden;
}
.cal-bg table {
  height: 100%;
}
.cal-bg .tr.thead {
  background: rgba(0, 0, 0, 0.8);
  height: 40px;
}
.cal-bg td {
  box-shadow: 0 0 1px 0 #fff;
}
.cal-bg td.date {
  width: 7.692%;
}
.cal-bg td.date span {
  display: block;
  line-height: 18px;
}
.cal-bg td.date span.date-week {
  line-height: 12px;
  font-size: 12px;
  color: #888;
}
.cal-bg td.date.current-date {
  background: #d3bc8e;
  border: 1px solid #d3bc8e;
  color: #000;
}
.cal-bg td.date.current-date span.date-week {
  color: #000;
}
.cal-bg td.line {
  background: rgba(0, 0, 0, 0.4);
  vertical-align: top;
}
.cal-bg td.line.current-date {
  background: rgba(211, 188, 142, 0.4);
}
.cal-bg .card {
  width: 65px;
  height: 76px;
  margin: 8px auto -4px;
}
.cal-bg .card .img {
  height: 60px;
}
.cal-bg .card .char-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 17px;
  font-size: 12px;
  background: #e8e2d8;
}
.cal-list {
  position: relative;
  padding-top: 80px;
  overflow: hidden;
}
.cal-list.char-num-0 {
  padding-top: 80px;
}
.cal-list.char-num-1 {
  padding-top: 160px;
}
.cal-list.char-num-2 {
  padding-top: 240px;
}
.cal-list.char-num-3 {
  padding-top: 320px;
}
.cal-list .cal-item {
  margin-bottom: 15px;
  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  background: #e8e2d8;
  z-index: 1;
}
.cal-list .cal-item:after {
  content: "";
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  right: 4px;
  bottom: 4px;
  box-shadow: 0 0 1px 0 #000 inset, 0 0 2px 0 #222a3b;
  border-radius: 4px;
}
.cal-list .cal-item .info {
  position: relative;
  display: inline-block;
  padding: 15px 50px 15px 55px;
  min-width: calc(100% - 400px);
  border-radius: 5px;
  background-image: linear-gradient(to right, #E8E2D8, #E8E2D8 80%, rgba(232, 226, 216, 0) 100%);
}
.cal-list .cal-item .banner {
  position: absolute;
  width: 100%;
  max-width: 500px;
  top: 0;
  bottom: 0;
  right: -10px;
  background-size: 100% auto;
  background-position: left 40%;
}
.cal-list .cal-item strong {
  display: block;
  font-weight: normal;
}
.cal-list .cal-item span {
  display: block;
  font-size: 12px;
}
.cal-list .cal-item.type-character {
  overflow: visible;
  margin-top: 20px;
}
.cal-list .cal-item.type-character .info {
  padding-left: 65px;
}
.cal-list .cal-item.type-character .character-img {
  height: 75px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.cal-list .cal-item.type-normal {
  margin-top: 5px;
  margin-bottom: 5px;
}
.cal-list .cal-item.type-normal:last-child {
  margin-bottom: 15px;
}
.cal-list .cal-item.type-normal:after {
  display: none;
}
.cal-list .cal-item.type-normal:first-of-type {
  margin-top: 20px;
}
.cal-list .cal-item.type-normal .info {
  padding: 8px 20px 8px 15px;
  line-height: 16px;
  color: #4b5366;
}
.cal-list .cal-item.type-normal .cal-icon {
  width: 23px;
  height: 23px;
  top: 6px;
  margin-left: -3px;
  margin-right: 5px;
}
.cal-list .cal-item.type-normal strong {
  font-size: 16px;
}
.cal-list .cal-item.type-normal .info {
  padding-left: 38px;
}
.cal-list .cal-item.type-normal strong,
.cal-list .cal-item.type-normal span {
  display: inline;
}
.cal-list .cal-item.type-normal.small-mode span {
  display: block;
  margin-left: 0;
}
.cal-list .cal-item.type-normal.li-col1 {
  margin-top: -40px;
}
.cal-list .cal-item .cal-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  top: 10px;
}
.cal-list .cal-item.li-col1 {
  margin-top: -82px;
}
.cal-list.char-2-1 .type-character.li-idx-2,
.cal-list.char-3-1 .type-character.li-idx-2 {
  margin-top: -82px;
}
.cal-list.char-3-2 .type-character.li-idx-3 {
  margin-top: -82px;
}
.cal-list.char-4-2 .type-character.li-idx-3 {
  margin-top: -166px;
}
.cal-list .type-weapon.li-idx-2 {
  margin-top: -82px;
}
.calendar .now-line {
  position: absolute;
  top: 86px;
  bottom: -18px;
  width: 2px;
  box-shadow: 0 0 5px 0 #fff;
  background: #fff;
  opacity: 0.8;
}
.calendar .now-line:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #fff;
  position: absolute;
  bottom: -8px;
  left: -9px;
  transform: scaleY(0.7);
  transform-origin: bottom center;
}
.calendar .now-line.line2 {
  z-index: 3;
  opacity: 0.5;
  background: #d3bc8d;
  width: 2px;
  box-shadow: none;
}
.now-time {
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
}
.now-time span {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  padding: 10px 15px;
  border: 1px solid #fff;
  display: inline-block;
}
.cal-abyss-cont {
  padding-top: 15px;
  height: 80px;
  position: relative;
}
.cal-abyss-cont .type-abyss {
  background: url("imgs/abyss.jpg") #333465 top right no-repeat;
}
.cal-abyss-cont .type-abyss .info {
  background: none;
  color: #d3bc8d;
  background-image: linear-gradient(to right, #333465, #333465 80%, rgba(51, 52, 101, 0) 100%);
}
.cal-abyss-cont .type-abyss-1 {
  background: url("imgs/abyss-1.jpg") #0f0829 top right no-repeat;
}
.cal-abyss-cont .type-abyss-1 .info {
  background: none;
  color: #d3bc8d;
  background-image: linear-gradient(to right, #0f0829, #0f0829 80%, rgba(15, 8, 41, 0) 100%);
}
.cal-abyss-cont .type-abyss-2 {
  background: url("imgs/abyss-2.jpg") #16202a top right no-repeat;
}
.cal-abyss-cont .type-abyss-2 .info {
  background: none;
  color: #d3bc8d;
  background-image: linear-gradient(to right, #16202a, #16202a 80%, rgba(22, 32, 42, 0) 100%);
}
.cal-abyss-cont .cal-item {
  border-radius: 0;
  position: absolute;
}
.cal-abyss-cont .cal-item:before {
  content: "";
  display: block;
  width: 3px;
  left: 0;
  top: 1px;
  bottom: 1px;
  position: absolute;
  background: #d3bc8d;
  z-index: 8;
}
.cal-abyss-cont .cal-item:after {
  box-shadow: 0 0 1px 0 #fff;
  border-radius: 0;
}
.calendar-mode .for-list-mode {
  display: none;
}
.list-mode .container {
  width: 740px;
}
.list-mode .for-calendar-mode {
  display: none;
}
.list-mode .cal-bg {
  width: initial;
}
.list-mode .cal-list {
  padding: 45px 10px 0;
}
.list-mode .calendar {
  width: 700px;
}
.list-mode .cal-abyss-cont {
  height: initial !important;
}
.list-mode .cal-item {
  position: relative;
  margin-left: 0 !important;
  width: initial !important;
  left: 0 !important;
}
.list-mode .now-line {
  display: none;
}
.daily-talent {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 9px 10px;
  border-radius: 10px;
}
.daily-talent .item-icon {
  overflow: visible;
}
.daily-talent .card {
  width: 87px;
  height: 105px;
  margin: 10px 0 15px;
}
.daily-talent .card .item-icon {
  width: 77px;
  margin: 0 6px;
  height: 82px;
  padding-top: 5px;
}
.daily-talent .card .img {
  width: 77px;
  height: 77px;
}
.daily-talent .card .weekly {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  bottom: -10px;
  right: -3px;
  background-color: rgba(232, 226, 216, 0.9);
  box-shadow: 0 0 2px 0 #000;
  overflow: visible;
}
.daily-talent .card .weekly .weekly-icon {
  width: 30px;
  height: 30px;
  margin: -3px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.daily-talent .card .banner {
  height: 20px;
  padding-top: 1px;
  line-height: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 8px;
}
.daily-talent .card .banner .title {
  margin-right: -50px;
  width: calc(100% + 50px);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 1px 1px 2px rgba(0, 0, 0, 0.8);
  padding-left: 45px;
  font-size: 18px;
}
.daily-talent .card .banner .icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -8px;
}
.daily-talent .card .banner .line {
  height: 6px;
  width: 100%;
  margin-top: 13px;
}
.daily-talent .card .banner .line.first {
  margin-left: 35%;
  width: 65%;
  border-radius: 3px 0 0 3px;
}
.daily-talent .card .banner .line.last {
  width: 94%;
  border-radius: 0 3px 3px 0;
}
.daily-talent .card .banner.city-1 .line {
  background: #37c9b8;
}
.daily-talent .card .banner.city-2 .line {
  background: #bca244;
}
.daily-talent .card .banner.city-3 .line {
  background: #ac60c9;
}
.daily-talent .card .banner.city-4 .line {
  background: #54b640;
}
.daily-talent .card .banner.city-5 .line {
  background: #557dd6;
}
