{{extend elemLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/wiki/character.css"/>
{{/block}}

{{block 'main'}}
<div class="head-box" style="background-image:url('{{_res_path}}/{{_char}}/party.png')">
  <div class="head">
    <img src="{{_res_path}}{{_char}}/face.png"/>
  </div>
  <!-- <div class="head-astro">{{astro}}</div>
   <div class="head-icon">
     <img src="{{City}}" />
     <img src="{{Weapon}}" />
     <img src="{{Element}}" />
</div>
-->

  <div class="head-detail">
    <div class="name">{{title}} · {{name}}</div>
    <div class="desc">{{desc}}</div>
  </div>
  <div class="data-box">
    <div class="tab-label">90级基础数据</div>
    <div class="data-line">
      {{each line item}}
      <div class="data_line_item">
        <div class="num">{{item.num}}</div>
        <div class="label">{{item.label}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{if mode == "talent"}}

{{each talent skill type}}
<div class="talent-box elem-bg">
  <div class="talent-detail cont">
    <div class="talent-line">
      <div class="talent-icon">
        <img src="{{_res_path}}{{_char}}/talent_{{type}}.png"/>
      </div>
      <div class="talent-info">
        <div class="talent-name">{{skill.name}}</div>
        <div class="talent-desc">
          {{each skill.desc d}}
          {{ if d[0] === "<" }}
          {{@d}}
          {{else if d!=""}}
          {{d}}</br>
          {{/if}}
          {{/each}}
        </div>
      </div>
      {{if skill.tables && skill.tables.length > 0}}
      <table class="talent-table cont-table">
        <tr class="tr">
          <td class="th"></td>
          {{each skill.lvs lv idx}}
          {{if (type=="a" && idx>4 && idx<11) || (type!="a" && idx>4 && idx < 13)}}
          <td class="th lv">{{lv}}</td>
          {{/if}}
          {{/each}}
        </tr>
        {{each skill.tables tr}}
        <tr class="tr">
          <td class="th talent-name">
            {{tr.name}}
          </td>
          {{if tr.isSame}}
          <td class="td colspan" colspan="{{type == a ? 6 : 8}}" class="td">{{tr.values[0]}}</td>
          {{else}}
          {{each tr.values v idx}}
          {{if (type=="a" && idx>4 && idx<11) || (type!="a" && idx>4 && idx < 13)}}
          <td class="td">{{v}}</td>
          {{/if}}
          {{/each}}
          {{/if}}
        </tr>
        {{/each}}
      </table>
      {{/if}}
    </div>
  </div>
</div>
{{/each}}

<div class="talent-box elem-bg">
  <div class="talent-detail passive-talent">
    {{each passive pass idx}}
    <div class="talent-line">
      <div class="talent-icon">
        <img src="{{_res_path}}{{_char}}/passive_{{idx}}.png"/>
      </div>
      <div class="talent-info">
        <strong class="talent-name">{{pass.name}}</strong>
        <div class="talent-desc">
          {{if pass.tables}}
          {{each pass.desc d}}
          {{ if d[0] === "<" }}
          {{@d}}
          {{else if d!=""}}
          {{d}}</br>
          {{/if}}
          {{/each}}
          <div class="talent-table">
            {{each pass.tables tr}}
            <div class="tr">
              <div class="th">{{tr.name}}</div>
              <div class="td">{{tr.values[0]}}</div>
            </div>
            {{/each}}
          </div>
          {{else}}
          {{@pass.desc}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}

{{if mode == "cons"}}
<div class="talent-box elem-bg">
  <div class="talent-detail">
    {{each cons con idx}}
    <div class="talent-line">
      <div class="talent-icon">
        <img src="{{_res_path}}{{_char}}/cons_{{idx}}.png"/>
      </div>
      <div class="talent-info">
        <strong class="talent-name">{{con.name}}</strong>
        <div class="talent-desc">
          {{@con.desc}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/if}}
{{/block}}