{{set avatar = $data[0] || false }}
{{set {_res_path} = $data[1]}}
{{set weapon = avatar.weapon || {} }}
{{set talentMap = ['a','e','q'] }}

<div class="avatar-card elem-{{avatar.elem}} avatar-{{avatar.name}}">
  <div class="card">
    {{if avatar}}
    <div class="avatar-face item-icon star{{avatar.star==4?4:5}}">
      <span class="img"
            style="background-image:url({{_res_path}}/meta/character/{{avatar.name}}/face.png)"></span>
      <span class="cons cons-{{avatar.cons}}">{{avatar.cons}}</span>
      <div class="avatar-level">Lv{{avatar.level}}</div>
    </div>
    {{set talent = avatar.talent || {} }}
    {{if talent.a && talent.a.current }}
    <div class="avatar-talent">
      {{each talentMap k}}
      {{set t = talent[k] || {} }}
      <span class="talent-item talent-{{k}} talent-{{t.crown?'crown':'none'}} talent-{{t.plus?'plus':'none'}}">{{t.current}}</span>
      {{/each}}
    </div>
    {{else}}
    <div class="avatar-talent"> -</div>
    {{/if}}
    <div class="avatar-detail">
      <div class="item avatar-weapon">
        <div class="item-icon star{{weapon.star}}">
          <span class="img" style="background-image:url({{_res_path}}/meta/weapons/icon/{{weapon.name}}.png)"></span>
          <span class="cons cons-{{weapon.affix}}">{{weapon.affix}}</span>
        </div>
      </div>
      <div class="item avatar-artis artis{{avatar.names.length}}">
        <div class="artis item-icon">
          {{each avatar.names name}}
          <span class="img"
                style="background-image:url({{_res_path}}/meta/reliquaries/icon/{{name}}.png)"></span>
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}
  </div>


</div>