{{set ds = $data[0]}}
{{set {_res_path, _char, _sys_res_path, uid} = $data[1]}}
{{set {attr} = ds}}

<div class="profile">
  <div class="main-pic"
       style="background-image:url({{_res_path}}/meta/character/{{ds.name}}/gacha_splash.png)"></div>
  <div class="detail">
    <div class="char-name">{{ds.name}}</div>
    <div class="char-lv">
      {{if uid}}UID {{uid}} - {{/if}}
      <span class="cons cons-{{ds.cons}}">{{ds.cons}}命</span> {{if ds.lv}} Lv.{{ds.lv}}{{/if}}
    </div>
    <div class="char-talents">
      {{each ds.talentMap tName key}}
      <div class="talent-item">
        <div class="talent-icon
               {{talent[key].level_current > talent[key].level_original ? `talent-plus`:``}}
                {{talent[key].level_original == 10 ? `talent-crown`:``}}">
          <div class="talent-icon-img"
               style="background-image:url({{_res_path}}/meta/character/{{ds.name}}/talent_{{key}}.png)"></div>
          <span>{{talent[key].level_current}}</span>
        </div>
      </div>
      {{/each}}
    </div>
    <ul class="attr">
      <li><i class="i-hp"></i>生命值<strong>{{attr.hp}}</strong><span>(+{{attr.hpPlus}})</span></li>
      <li><i class="i-atk"></i>攻击力<strong>{{attr.atk}}</strong><span>(+{{attr.atkPlus}})</span></li>
      <li><i class="i-def"></i>防御力<strong>{{attr.def}}</strong><span>(+{{attr.defPlus}})</span></li>
      <li><i class="i-mastery"></i>元素精通<strong>{{attr.mastery}}</strong></li>
      <li><i class="i-cr"></i>暴击率<strong>{{attr.cRate}}</strong></li>
      <li><i class="i-cd"></i>暴击伤害<strong>{{attr.cDmg}}</strong></li>
      <li><i class="i-re"></i>元素充能<strong>{{attr.recharge}}</strong></li>
      <li><i class="i-dmg"></i>伤害加成<strong>{{attr.dmgBonus}}</strong></li>
    </ul>
  </div>
  <div class="char-cons">
    {{each cons con idx}}
    <div class="cons-item">
      <div class="talent-icon {{idx * 1 > avatar.actived_constellation_num * 1 ? 'off' : '' }}">
        <img src="{{_res_path}}/meta/character/{{name}}/cons_{{idx}}.png"/>
      </div>
    </div>
    {{/each}}
  </div>
</div>
