.font-YS {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
.font-NZBZ {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
body,
.container {
  width: 690px;
}
.container {
  padding: 5px 0 10px 5px;
}
.head-box {
  margin-top: 0;
  padding-top: 0;
}
.head-box .title span {
  font-size: 20px;
  margin-left: 5px;
}
.abyss-stat-cont {
  display: flex;
  padding: 25px 5px 5px;
}
.abyss-stat {
  display: flex;
}
.abyss-stat .cont {
  margin: 5px;
}
.abyss-stat strong {
  text-shadow: 0 0 3px #000;
}
.abyss-stat .stat-title {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  width: 100%;
  text-shadow: 0 0 1px #000;
}
.abyss-stat .stat-title span {
  display: block;
  font-weight: normal;
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  font-size: 24px;
}
.abyss-stat .stat-title strong {
  display: block;
  font-size: 30px;
}
.abyss-stat .stat-msg {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  padding: 5px 10px;
  width: 100%;
  text-shadow: 0 0 1px #000;
  font-size: 12px;
}
.abyss-stat .stat-msg .msg {
  display: block;
  line-height: 22px;
}
.abyss-stat .stat-msg .msg strong {
  font-size: 16px;
  padding: 0 2px;
  font-weight: normal;
  color: #d3bc8e;
}
.avatar-banner {
  height: 250px;
  width: 175px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 -30px;
}
.abyss-data {
  display: flex;
  padding: 0 6px;
}
.abyss-data .abyss-item {
  color: #fff;
  margin: 5px;
}
.abyss-data .abyss-item .info {
  text-align: center;
  text-shadow: 0 0 1px #000, 1px 1px 3px #000;
}
.abyss-data .abyss-item .info strong {
  display: block;
  font-weight: normal;
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
.abyss-data .abyss-item .info span {
  font-size: 24px;
  display: block;
}
.abyss-data .abyss-item .info span:after {
  content: "次";
  font-size: 15px;
  margin-left: 2px;
}
.abyss-title {
  margin: -3px 0 8px;
}
.abyss-title strong {
  color: #d3bc8e;
  font-size: 18px;
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  font-weight: normal;
  margin-right: 10px;
}
.abyss-title .abyss-star {
  font-size: 15px;
  color: #fff;
}
.abyss-title .abyss-star:before {
  content: "";
  vertical-align: bottom;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("./imgs/star.png") center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.abyss-floor-team {
  display: flex;
}
.abyss-floor-team .line {
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
  height: 80px;
  vertical-align: middle;
  margin: 15px 10px 0;
}
.abyss-team {
  display: flex;
}
.abyss-detail {
  display: flex;
  width: calc(100% + 40px);
  margin: 10px -15px -10px;
}
.abyss-level {
  padding: 5px 10px 7px;
  width: 33%;
  box-shadow: 0 0 1px 0 #fff;
}
.abyss-level:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}
.abyss-level .info {
  margin-bottom: 5px;
  display: flex;
}
.abyss-level .title {
  white-space: nowrap;
  font-weight: bold;
}
.abyss-level .star {
  height: 15px;
  display: inline-block;
  background: url(./imgs/star.png);
  background-size: 15px 15px;
  margin-left: 5px;
}
.abyss-level .star.star1 {
  width: 15px;
  margin-right: 30px;
}
.abyss-level .star.star2 {
  width: 30px;
  margin-right: 15px;
}
.abyss-level .star.star3 {
  width: 45px;
  margin-right: 0;
}
.abyss-level .time {
  text-align: right;
  width: 60%;
  color: #aaa;
}
.abyss-level .avatars {
  display: flex;
  width: 100%;
}
.abyss-level .avatars .avatar-list {
  display: flex;
  position: relative;
}
.abyss-level .avatars .avatar-list.up {
  padding-right: 10px;
}
.abyss-level .avatars .avatar-list.up:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background: rgba(255, 255, 255, 0.3);
  right: 5px;
  top: 50%;
  margin-top: -8px;
}
.abyss-level .avatars .avatar-icon {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-right: 1px;
}
.abyss-level .avatars .avatar-icon .img {
  background-size: auto 100%;
  background-position: center;
  width: 20px;
  height: 20px;
  margin: 2px;
}
.avatar-banner.avatar-枫原万叶 {
  background-position: 0 40px;
}
.avatar-banner.avatar-九条裟罗 {
  background-position: 0 0;
}
.avatar-banner.avatar-香菱 {
  background-position: 0 50px;
}
.avatar-banner.avatar-行秋 {
  background-position: 0 50px;
}
.avatar-banner.avatar-甘雨 {
  background-position: 0 25px;
}
.avatar-banner.avatar-刻晴 {
  background-position: 0 15px;
}
.avatar-banner.avatar-神里绫华 {
  background-position: 0 -40px;
}
.avatar-banner.avatar-班尼特 {
  background-position: 0 -45px;
}
.avatar-banner.avatar-五郎 {
  background-position: 0 -45px;
}
.avatar-banner.avatar-托马 {
  background-position: 0 15px;
}
/*# sourceMappingURL=abyss-summary.css.map */