{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/stat/common.css?v=1.0"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/stat/abyss-pct.css?v=1.0"/>
{{/block}}

{{block 'main'}}
<div class="info_box">
  <div class="head-box type{{bgType}}">
    {{if chooseFloor == -1}}
    <div class="title">#{{abyssName}}{{modeName}}</div>
    {{else}}
    <div class="title">#{{abyssName}}第{{floorName[chooseFloor]}}{{modeName}}</div>
    {{/if}}
    <div class="label">【#{{abyssName}}{{modeName}}】出场总数/持有该角色的记录数</div>
    <div class="genshin-logo"></div>
  </div>
  <div class="cont msg-cont">
    <div class="cont-title">{{abyssName}}{{modeName}}统计</div>
    <div class="cont-body">
      <ul class="cont-msg">
        <li>数据来自<strong>提瓦特小助手API</strong>，统计结果仅供参考</li>
        <li>目前仅支持查看 <strong>#{{abyssName}}{{modeName}}</strong> 数据</li>
        <li>由于是用户自主上传，数据可能有一定滞后，数据会在深渊开启后一段时间逐步稳定</li>
        <li>统计数据为本期深渊数据，{{if totalCount}}本期已提交用户数：<strong>{{totalCount}}</strong>，{{/if}}数据更新时间：{{lastUpdate}}</li>
      </ul>
    </div>
  </div>
  <% let pct = function (num) {
  return (num * 100).toFixed(2);
  } %>
  {{each abyss ds}}
  {{if chooseFloor == -1 || chooseFloor == ds.floor}}
  <div class="info_box_border">
    <div class="line_box">
      <span class="line"></span>
      <span class="text">第{{floorName[ds.floor]}}</span>
      <span class="line"></span>
    </div>
    {{each ds.ranks rank}}
    <div class="rank-group">
      <div class="rank-title">{{rank.rank_name}}</div>
      <div class="card-list">
        {{each rank.avatars char}}
        <div class="item star{{char.star == 4? 4:5}}">
          <img class="role" src="{{_res_path}}{{char.face}}"/>
          <div class="num_name">{{pct(char.value)}}%</div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{/each}}
</div>
{{/block}}