.font-YS {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
.font-NZBZ {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
body,
.container {
  width: 970px;
}
.container {
  padding: 5px 0 10px 5px;
}
.head-box {
  display: flex;
  width: 100%;
}
.head-box .title {
  font-size: 45px;
  padding-bottom: 10px;
  width: 70%;
}
.head-box .title span {
  font-size: 30px;
  margin-left: 10px;
  color: #d3bc8e;
}
.head-box .uid {
  text-align: right;
  width: 30%;
  padding-top: 25px;
  padding-right: 10px;
  font-size: 25px;
}
.role-stat-cont {
  display: flex;
  padding: 5px;
}
.role-stat {
  width: 100%;
}
.role-stat .cont {
  margin: 10px;
}
.role-stat .cont.star-display {
  width: 330px;
}
.role-stat .cont.star-display .line {
  width: 1px;
  background: rgba(255, 255, 255, 0.5);
  height: 25px;
  vertical-align: middle;
  margin: 5px 3px 0;
}
.role-stat strong {
  text-shadow: 0 0 3px #000;
  text-align: center;
}
.role-stat .title {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  width: 100%;
  text-shadow: 0 0 1px #000;
}
.role-stat .title span {
  display: block;
  font-weight: normal;
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  font-size: 20px;
}
.role-stat .title strong {
  display: block;
  font-size: 30px;
}
.role-stat .stat-msg {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  padding: 5px 10px;
  width: 100%;
  text-shadow: 0 0 1px #000;
  font-size: 30px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
}
.role-stat .stat-msg .stat-star-container {
  margin-bottom: 10px;
}
.role-stat .stat-msg .stat-star-container .stat-star {
  width: 25px;
  height: 25px;
  background-size: cover;
  margin-top: 4px;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.cards-container .card-container {
  width: calc((100% - 25px) / 6);
}
.cards-container .card-container .card-image-container {
  margin: 10px;
  height: 395px;
}
.cards-container .card-container .card-image-container .card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.cards-container .card-container .card-image-container .empty-image {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.cards-container .card-container .card-image-container .empty-image strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}
.cards-container .card-container .card-info {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}
