<script src="../../../../../Yunzai-Botconfig/miao-diy/app/main.js"></script>{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/stat/common.css?v=1.0"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/common/tpl.css?v=1.0"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/stat/role-summary.css?v=1.0"/>
{{/block}}

{{block 'main'}}
{{ set difficultyName = {1:'简单', 2:'普通', 3:'困难', 4:'卓越'} }}
<div class="head-box type">
  <div class="title">#幻想真境剧诗<span>{{role.month}}月 · {{difficultyName[role.stat.difficulty_id]}}模式</span></div>
  <div class="uid">UID:{{uid}}</div>
</div>
<div class="info_box">
  <div class="role-stat-cont">
    <div class="role-stat">
      <div class="cont star-display">
        <div class="stat-title">
          <span>明星挑战星章</span>
        </div>
        <div class="stat-msg">
          {{each role.stat.get_medal_round_list star}}
          <div class="stat-star-container">
            {{if star == 1}}
            <div class="stat-star" style="background-image:url({{_res_path}}/stat/imgs/medal.png)"></div>
            {{else}}
            <div class="stat-star" style="background-image:url({{_res_path}}/stat/imgs/nomedal.png)"></div>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
      <div class="cont" style="width:120px">
        <div class="stat-title">
          <span>总耗时</span>
        </div>
        <div class="stat-msg">
          <strong>{{role.stat.total_use_time}} 秒</strong>
        </div>
      </div>
      <div class="cont">
        <div class="stat-title">
          <span>消耗幻剧之花</span>
        </div>
        <div class="stat-msg">
          <strong>{{role.stat.coin_num}}</strong>
        </div>
      </div>
      <div class="cont">
        <div class="stat-title">
          <span>场外观众声援</span>
        </div>
        <div class="stat-msg">
          <strong>{{role.stat.avatar_bonus_num}} 次</strong>
        </div>
      </div>
      <div class="cont">
        <div class="stat-title">
          <span>支援其他玩家</span>
        </div>
        <div class="stat-msg">
          <strong>{{role.stat.rent_cnt}} 次</strong>
        </div>
      </div>
    </div>
  </div>
      

  </div>
  {{set cardTypes={1:['wide wide2'],2:['wide','wide'],3:['wide','mini','mini'],4:['mini','mini','mini','mini']} }}
  {{each role?.rounds round round_index}}
  <div class="cont">
    <div class="cont-body">
      <div class="role-title">
        {{if round.is_get_medal}}
        <div class="role-star" style="background-image:url({{_res_path}}/stat/imgs/medal.png)"></div>
        {{else}}
        <div class="role-star" style="background-image:url({{_res_path}}/stat/imgs/nomedal.png)"></div>
        {{/if}}
        <strong>第 {{round_index}} 幕</strong>
        <span>{{round?.finish_time}}</span>
      </div>
      <div class="role-floor-team">
        <div class="role-team">
          {{set current_avatars=round?.avatars||[] }}
          {{each current_avatars avatar idx}}
          <% include(_tpl_path+'/avatar-card.html', [avatars[avatar.avatar_id],{_res_path, cardType:cardTypes[current_avatars.length][idx]}]) %>
          {{/each}}
        </div>
        <div class="line"></div>
        <div class="role-buff">
          <div class="role-buff-line">
            {{set enemies=round?.enemies }}
            <div class="role-enemy-container">
              <div class="role-choice-cards-header">选择敌人</div>
              <div class="role-choice-cards-content">
                {{set display_enemy = enemies?.[0]}}
                <div class="role-content-container">
                  <div class="role-content-icon" style="background-image:url({{display_enemy.icon}})"></div>
                </div>
              </div>
            </div>
            {{set splendour_summary=round?.splendour_buff?.summary}}
            <div class="role-splendour-container">
              <div class="role-choice-cards-header">辉彩祝福</div>
              <div class="role-choice-cards-content" style="flex-direction: column">
                  <div style="color: #0D0D0D">等级 {{splendour_summary?.total_level}}</div>
                  <div style="color: #0D0DFF">生命值 +{{splendour_summary?.hp_increase}}
                    <span style="color: #FD0D0D">攻击力 +{{splendour_summary?.atk_increase}}</span>
                  </div>
                  <div style="color: #A0A00D">防御力 +{{splendour_summary?.def_increase}}
                    <span style="color: #00A000">元素精通 +{{splendour_summary?.em_increase}}</span>
                  </div>
              </div>
            </div>
            {{set buffs=round?.splendour_buff?.buffs}}
            <div class="role-splendour-buff-container">
              <div class="role-choice-cards-header">辉彩祝福 buff</div>
              <div class="role-choice-cards-content">
                {{each buffs buff}}             
                <div class="role-content-container">
                  <div class="role-content-icon" style="background-image:url({{buff.icon}})"></div>
                  <div style="color: black">Lv. {{buff.level}}</div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
          <div class="role-buff-line">
            {{set choice_cards=round?.choice_cards }}
            <div class="role-choice-cards-container">
              <div class="role-choice-cards-header">神秘收获</div>
              <div class="role-choice-cards-content">
                {{each choice_cards choice_card}}
                  <div class="role-content-container">
                    <div class="role-content-icon" style="background-image:url({{choice_card.icon}})"></div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="cont role-notice">
    <div class="cont-body">
      <ul class="cont-msg">
        <li><strong>明星挑战星章</strong>不仅作为展示用，<strong>也会</strong>影响挑战的奖励领取~</li>
        <li>角色装备与圣遗物为当前最新状态</li>
      </ul>
    </div>
  </div>
</div>
{{/block}}