*.psd
.idea
/tools/char-data-sprider.js
/components/cfg.json
/resources/miao-res-plus/
/components/setting.json
/config.js
*.css.map
/resources/character-img/*/upload/
/resources/help/help-list.js
/resources/help/help-cfg.js
/config/character.js
/config/profile.js
