*.psd
.idea
/tools/char-data-sprider.js
/components/cfg.json
/resources/miao-res-plus/
/components/setting.json
/config.js
*.css.map
/resources/character-img/*/upload/
/resources/help/help-list.js
/resources/help/help-cfg.js
/resources/help/theme/*
!/resources/help/theme/default
/config/character.js
/config/profile.js
/config/help.js
/config/cfg.js
/resources/profile/super-character/*
/resources/profile/normal-character/*
/node_modules/
