.container {
  width: 740px;
  background-size: cover;
}
.head-box {
  margin-top: 0;
}
#banner {
  height: 90px;
  background-size: auto 100%;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #f0ece4;
  border-radius: 50px;
  padding: 1px;
  margin: 5px 0;
  display: flex;
  white-space: nowrap;
  position: relative;
}
#banner .face {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 1px #000, 0 0 5px rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
  overflow: hidden;
  background: url('../common/item/bg5.png');
  background-size: cover;
}
#banner .face span {
  display: block;
  width: 64px;
  height: 64px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
#banner .user-info {
  padding: 15px 5px;
  color: #414e64;
}
#banner .user-info .name {
  height: 34px;
  line-height: 34px;
}
#banner .user-info .name strong {
  font-size: 26px;
}
#banner .user-info .name span {
  padding-left: 5px;
}
#banner .user-info .uid {
  height: 22px;
  line-height: 22px;
  font-size: 16px;
}
#banner .stat {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  margin: 16px;
  border-radius: 29px;
  height: 58px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
#banner .stat-li {
  padding: 7px;
  width: 70px;
  height: 58px;
  text-align: center;
  position: relative;
}
#banner .stat-li:nth-child(even) {
  background: rgba(225, 225, 225, 0.8);
}
#banner .stat-li:first-child {
  width: 78px;
  padding-left: 15px;
}
#banner .stat-li:last-child {
  width: 78px;
  padding-right: 15px;
}
#banner .stat-li strong {
  font-size: 22px;
  display: block;
}
#banner .stat-li span {
  display: block;
  font-size: 14px;
  color: #414e64;
}
#avatar-list {
  width: calc(100% + 30px);
  margin: 0 -15px -5px;
  overflow: hidden;
}
.exploration {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}
.exploration .item {
  width: 93px;
  height: 116.25px;
  background: url('./imgs/exploration.webp') no-repeat;
  background-size: auto 100%;
  border-radius: 4px;
  margin: 3px;
  text-align: center;
  color: #fff;
}
.exploration .item strong {
  font-size: 24px;
  display: block;
  height: 30px;
  line-height: 30px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.exploration .item span {
  margin-top: 58px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  display: block;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.cont-title {
  padding: 8px 15px;
}
.avatar-cont {
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}
.avatar-list {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 10px;
}
.avatar-list .avatar-card {
  margin: 5px;
}
.cont-notice {
  text-align: right;
}
.cont-notice strong {
  color: #d3bc8e;
}
.cont-notice span {
  padding: 0 3px;
  color: #aaa;
}
.ck-notice {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
}
.ck-notice strong {
  color: #d3bc8e;
  padding: 0 2px;
  font-weight: normal;
}
/*# sourceMappingURL=avatar-list.css.map */