{{extend elemLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/character/avatar-list.css"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/common/tpl.css?v=1.0"/>
{{/block}}


{{block 'main'}}
<div class="head-box">
  <div class="title">#角色</div>
</div>
<div id="avatar-list">
  {{if info && info.exploration}}
  {{set citys = ['蒙德','龙脊雪山','璃月','层岩巨渊','稻妻','渊下宫','须弥'] }}
  <div class="exploration">
    {{each citys city idx}}
    <div class="item city-{{idx+1}}" style="background-position:{{idx}}0% 0">
      <span>{{city}}</span>
      <strong>{{ (info.exploration[city]||0)/10 || '0'}}%</strong>

    </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="cont avatar-cont">
    <div class="cont-title">角色列表</div>
    <div class="avatar-list">
      {{each avatars avatar idx}}
      <% include(_layout_path+'../tpl/avatar-card.html', [avatar,{_res_path, cardType:'mini'}]) %>
      {{/each}}
    </div>
  </div>
  {{if talentNotice}}
  <p class="cont-notice">{{@talentNotice}}</p>
  {{/if}}

</div>


{{/block}}