.font-YS {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
.font-NZBZ {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-size: 16px;
  color: #fff;
  transform: scale(1.25);
  transform-origin: 0 0;
}
.container {
  position: relative;
  background-color: #1234;
  width: 100%;
  padding: 0;
}
.container img.bg {
  width: 100%;
  margin-bottom: -1px;
  display: block;
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
.char-title {
  padding: 5px 10px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  text-shadow: 0 0 3px #000, 3px 3px 5px #000;
}
.char-title .char-name {
  padding-left: 10px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.char-title .char-name > * {
  vertical-align: bottom;
}
.char-title .char-name strong {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: normal;
}
.char-title .char-name .cons {
  font-size: 20px;
  padding: 3px 8px;
  border-radius: 8px;
  margin: 10px 0;
  text-shadow: 0 0 1px #000;
}
.char-title .char-name:after {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%);
  right: -50px;
  min-width: 360px;
  height: 1px;
  left: -50px;
  opacity: 1;
  transition: width 0.3s 0.1s, opacity 0.3s 0.1s;
  box-shadow: 0 0 2px 0 #000;
  bottom: 1px;
}
.char-title .char-lv {
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  letter-spacing: 0;
  padding-left: 10px;
}
.crown {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  display: inline-block;
  background-size: contain;
  vertical-align: bottom;
  background-image: url("./imgs/crown.png");
}
.crown.crown_0 {
  background-image: none;
}
.crown.crown_2 {
  width: 60px;
}
.crown.crown_3 {
  width: 90px;
}
.detail {
  font-size: 26px;
  margin: 10px 5px 2px 5px;
}
/******** left mode **********/
.no-info {
  position: absolute;
  padding: 5px 10px;
  bottom: 30px;
  right: 10px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
}
.notice-cont {
  color: #ccc;
  font-size: 14px;
  text-align: center;
}
.bottom_mode .no-info {
  bottom: 25px;
}
.char-talents {
  display: flex;
}
.char-detail {
  display: flex;
  margin: 0;
  border-radius: 0;
  padding: 4px;
}
.char-detail > .cont {
  position: relative;
  width: 200px;
  height: 90px;
  margin: 4px;
}
.weapon-cont {
  width: 180px;
  text-shadow: 1px 1px 1px #000;
}
.weapon-cont .img {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.weapon-cont .star {
  height: 20px;
  width: 100px;
  background: url("../common/item/star-ltr.png") no-repeat;
  background-size: 100px 100px;
  transform: scale(0.8);
  transform-origin: -5px center;
  display: inline-block;
  margin: 1px 0 -2px;
}
.weapon-cont .star.star-2 {
  background-position: 0 -20px;
}
.weapon-cont .star.star-3 {
  background-position: 0 -40px;
}
.weapon-cont .star.star-4 {
  background-position: 0 -60px;
}
.weapon-cont .star.star-5 {
  background-position: 0 -80px;
}
.weapon-cont .weapon-info {
  padding: 0;
  position: absolute;
  top: 10px;
  left: 80px;
}
.weapon-cont .weapon-info strong {
  font-size: 18px;
  display: block;
}
.talent-cont {
  display: flex;
  padding: 0 5px;
}
.talent-cont .talent-item,
.talent-cont .talent-icon {
  width: 100px;
  height: 80px;
}
.talent-cont .talent-item {
  position: relative;
}
.talent-cont .talent-icon {
  width: 60px;
  height: 60px;
  display: table;
  position: relative;
  margin: 7px -5px 13x;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 90;
}
.talent-cont .talent-icon img,
.talent-cont .talent-icon .talent-icon-img {
  width: 46%;
  height: 46%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22% 0 0 -23%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.talent-cont .talent-icon span {
  background: #fff;
  width: 34px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  color: #000;
  box-shadow: 0 0 5px 0 #000;
}
.talent-cont .talent-icon.talent-plus span {
  background: #2e353e;
  color: #ffdfa0;
  font-weight: bold;
  box-shadow: 0 0 1px 0 #d3bc8e, 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.talent-cont .talent-icon.talent-crown:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../character/imgs/crown.png") no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: -5px;
  margin-left: -10px;
}
.artis-cont {
  text-shadow: 1px 1px 1px #000;
}
.artis-cont .artis-sets {
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.artis-cont .artis-list {
  display: flex;
  flex-wrap: wrap;
  height: 65px;
}
.artis-cont .artis-list .item {
  height: 65px;
  padding-top: 3px;
  width: 20%;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
}
.artis-cont .artis-list .item .item-icon {
  width: 90%;
  height: 35px;
  margin: 4px 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.artis-cont .artis-list .item .lv {
  display: block;
  font-size: 14px;
  text-align: center;
}
.artis-cont .artis-list .item .lv:before {
  content: "Lv.";
  font-size: 12px;
  display: inline-block;
  transform: scale(0.8);
  transform-origin: right 10px;
  margin-left: -2px;
}
.artis-cont .artis-list .item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.2);
}
.artis-cont .artis-list .item:nth-child(even) {
  background: rgba(134, 118, 85, 0.15);
}
.artis-cont .artis-list .item.no-item {
  background: url('../common/item/artifact-icon.webp') center no-repeat;
  background-size: 60% auto;
}
.copyright {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  margin: 0;
  right: 0;
  height: 25px;
  left: 0;
  line-height: 25px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  z-index: 4;
}
.copyright.data-source {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  left: 0;
  text-align: left;
  background: none;
  z-index: 5;
}
.bottom-mode .char-title {
  padding-top: 20px;
}
.bottom-mode .char-lv {
  padding-top: 5px;
}
.bottom-mode .char-detail {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  padding: 4px 0;
  box-shadow: none;
}
.bottom-mode .char-detail > .cont {
  background: none;
  box-shadow: none;
  backdrop-filter: none;
  margin: 5px 0 0;
}
.bottom-mode .char-detail > .cont.left-line:after,
.bottom-mode .char-detail > .cont.right-line:after {
  content: "";
  display: block;
  width: 1px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20px;
  right: 5px;
}
.bottom-mode .char-detail > .cont.right-line:after {
  display: none;
  right: initial;
  left: 0;
}
.bottom-mode .char-detail .notice-cont {
  padding-top: 40px;
}
.bottom-mode .char-detail .artis-cont {
  margin-right: 10px;
}
.bottom-mode .char-detail .artis-cont .item {
  box-shadow: none;
}
.bottom-mode .char-detail .talent-cont .talent-item {
  padding-top: 5px;
}
.left-mode {
  width: auto;
}
.left-mode .container {
  width: auto;
}
.left-mode .copyright.data-source {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.left-mode .char-detail {
  position: absolute;
  bottom: 25px;
  left: 0;
  padding: 4px 0;
  background: none;
  box-shadow: none;
  backdrop-filter: none;
  display: block;
}
.left-mode .char-detail > .cont {
  margin-top: 8px;
  background-size: 100% 150%;
}
.left-mode .char-detail .notice-cont {
  height: 30px;
  line-height: 30px;
  background-size: 100% 200%;
}
.left-mode .char-detail .talent-cont .talent-item {
  padding-top: 8px;
}
.left-mode .char-detail .talent-cont .talent-item span {
  bottom: -20px;
}
/*# sourceMappingURL=character-card.css.map */