<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="{{_res_path}}/common/common.css?v=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{_res_path}}/character/character-card.css?v=1.0"/>
  </head>
  <body class="{{bg.mode}}_mode" {{sys.scale}}>

    <div class="container" id="container">
      {{if level}}
      <div class="char_name">
        <div class="uid">ID:{{uid}}</div>
        <span>{{ds.name}}</span>
        <span
            class="cons cons-{{cons}}">{{cons}}命</span>
      </div>
      <div class="info">
        <div class="detail"> Lv.{{level}} ❤{{fetter}}
          <span class="crown crown_{{crownNum}}"></span>
        </div>

        <div class="weapon">
          <div class="weapon_cont">
            <img title="{{weapon.name}}" src="{{_res_path}}/meta/weapons/icon/{{weapon.name}}.png"/>

            <p class="weapon_lv">Lv.{{weapon.level}}</p>
            <p class="weapon_affix">{{weapon.affix}}</p>
          </div>
          <p class="weapon_name">
            <span class="for_left">Lv.{{weapon.level}} 精{{weapon.affix}}</span>
            <span class="for_bottom">精{{weapon.affix}} </span>
            {{weapon.name}}
          </p>
        </div>

        {{ if talent.a }}
        <div class="talent">
          {{each talentMap name key}}
          <div class="talent_{{key}}">{{name}}: <span>{{ talent[key].level}}</span></div>
          {{/each}}
        </div>
        {{else}}
        <div class="talent">
          <div class="talent_{{key}}">请绑定Cookie以查询天赋信息</div>
        </div>
        {{/if}}
        <div class="equiv_info">
          <div class="text">{{artiEffect[0]|| "-"}}</div>
          <div class="text">{{artiEffect[1] || "-"}}</div>
        </div>
      </div>
      {{else}}
      <div class="char_name">
        <div class="uid">ID:{{uid}}</div>
        <span>{{ds.name}}</span>
      </div>
      {{if custom}}
      <div class="no-info">自定义角色暂无角色信息</div>
      {{else}}
      <div class="no-info">未能获取到角色信息，请将角色放置在米游社角色展柜中</div>
      {{/if}}
      {{/if}}
      <div class="copyright">{{@sys.copyright}}</div>
      <div>
        <img src="{{_res_path}}{{bg.img}}" title="{{name}}" class="bg"></div>
    </div>
  </body>
  <script type="text/javascript"></script>
</html>
