{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/common/common.css"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/character/character-card.css"/>
{{@widthStyle}}
{{/block}}

{{block 'main'}}
<div>
  <div class="char-title">
    <div class="char-name">
      <strong>{{data.sName||data.name}}</strong>
      {{if data.fetter}} <span class="fetter fetter{{data.fetter}}"></span> {{/if}}
      {{if typeof(data.cons)!=='undefined'}} <span class="cons cons-{{data.cons}}">{{data.cons}}命</span> {{/if}}
    </div>
    <div class="char-lv">
      <span>Uid:{{uid}}</span>
      {{if data.level}}<span>Lv.{{data.level}}</span>{{/if}}
    </div>
  </div>
  {{if data.level}}
  {{set w = data.weapon }}

  <div class="char-detail cont">

    <div class="cont weapon-cont left-line">
      <div class="img" style="background-image:url({{_res_path}}{{w.img}})"></div>
      <div class="weapon-info">
        <strong>{{w.name.length > 4 ? (w.abbr||w.name) : w.name}}</strong>
        <div class="star star-{{w.star}}"></div>
        <div>Lv.{{w.leve || w.level}} <span
            class="affix affix-{{w.affix}}">精{{w.affix}}</span></div>
      </div>
    </div>

    {{set talent = data.talent }}
    {{set keys = ['a','e','q'] }}
    {{ if talent && talent.a && talent.a.level}}
    <div class="cont talent-cont elem-{{data.elem}}">
      {{each keys key}}
      <div class="talent-item">
        <div class="talent-icon
               {{talent[key].level > talent[key].original ? `talent-plus`:``}}
                {{talent[key].original >= 10 ? `talent-crown`:``}}">
          <div class="talent-icon-img"
               style="background-image:url({{_res_path}}{{data.imgs[key]}})"></div>
          <span>{{talent[key].level}}</span>
        </div>

      </div>
      {{/each}}
    </div>
    {{else}}
    <div class="cont notice-cont">
      请绑定CK以获取天赋信息
    </div>
    {{/if}}

    <div class="cont artis-cont right-line">
      {{set idxs = [1,2,3,4,5] }}
      <div class="artis-list">
        {{each idxs idx}}
        {{if data.artis && data.artis[idx]}}
        {{set arti = data.artis[idx]}}
        <div class="item">
          <div class="item-icon" style="background-image:url({{_res_path}}{{arti.img}})"></div>
          <span class="lv">{{arti.level}}</span>
        </div>
        {{else}}
        <div class="item no-item"></div>
        {{/if}}

        {{/each}}
      </div>
      <div class="artis-sets">{{data.artisSet?.sName||'圣遗物'}}</div>
    </div>
  </div>

  <div class="copyright data-source">
    数据源：{{ {miao:'喵喵API', 'enka':'Enka.Network', 'mgg':'MiniGG-API', mys:'米游社', 'hutao':'Hutao-Enka', 'homo':'Mihomo'
    }[data.source]||data.source }} {{data.updateTime}}
  </div>
  {{else}}
  {{if custom}}
  <div class="no-info">自定义角色暂无角色信息</div>
  {{else if !isRelease}}
  <div class="no-info">角色尚未实装，暂无信息</div>
  {{else}}
  <div class="no-info">未能获取到角色信息，请将角色放置在米游社角色展柜中</div>
  {{/if}}
  {{/if}}
  <div><img src="{{_res_path}}{{bg.img}}" title="{{name}}" class="bg"></div>
</div>

{{/block}}