{{extend elemLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/character/profile-stat.css"/>
{{/block}}


{{block 'main'}}
<div class="head-box">
  <div class="title">#面板练度统计</div>
  <div class="label">UID:{{uid}} 共{{avatars.length }}名角色</div>
</div>
<div id="profile-stat">
  <div class="cont">
    <div class="cont-table">
      <div class="avatar tr thead">
        <div class="td-name">角色</div>

        <div class="td-fetter">好感</div>

        <div class="td-talent">A</div>
        <div class="td-talent">E</div>
        <div class="td-talent">Q</div>
        <div class="td-weapon">武器</div>
        <div class="td-artis">圣遗物</div>
      </div>
      {{each avatars avatar idx}}
      {{set talent = avatar.talent}}
      {{set weapon = avatar.weapon}}
      {{set tk = ['a','e','q'] }}
      <div class="avatar tr">
        <div class="td-name">
          <div class="item-banner star{{avatar.star}}">
            <span class="level">{{avatar.level}}</span>
            <div class="item-icon char-icon star{{avatar.star}}">
              <span class="img"
                    style="background-image:url({{_res_path}}/meta/character/{{avatar.name}}/face.png)"></span>
            </div>
            <span class="cons avatar cons-{{avatar.cons}}">{{avatar.cons}}</span>
            <span class="item-name">{{avatar.abbr||avatar.name}}</span>
          </div>
        </div>


        <div class="td-fetter ">
          <span class="fetter fetter{{['空','荧','旅行者'].includes(avatar.name)?10:avatar.fetter}}"></span>
        </div>

        {{each tk talentKey}}
        {{set curr = (avatar.talent||{})[talentKey] || {original:1,current:'-'} }}
        <div class="td-talent lv{{talentLvMap[curr.original]}} {{curr.current>curr.original?'talent-plus':''}}">
          {{curr.current}}
        </div>
        {{/each}}

        <div class="td-weapon  star-{{weapon.star}}">
          {{if weapon?.name}}
          <div class="item-banner star{{weapon.star}}">
            <span class="level">{{weapon.level}}</span>
            <div class="item-icon weapon-icon star{{weapon.star}}">
              <span class="img"
                    style="background-image:url({{_res_path}}/meta/weapons/icon/{{weapon.name}}.png)"></span>
            </div>
            <span class="cons weapon cons-{{weapon.affix+1}} star{{weapon.star}}">{{weapon.affix}}</span>
            <span class="item-name">{{weapon.abbr}}</span>
          </div>
          {{/if}}
        </div>
        <div class="td-artis">
          <div class="item item-banner avatar-artis artis{{avatar?.artisMark?.names?.length||avatar.names.length}}">
            <div class="artis item-icon">
              {{each avatar?.artisMark?.names || avatar?.names || [] name}}
              <span class="img"
                    style="background-image:url({{_res_path}}/meta/reliquaries/icon/{{name}}.png)"></span>
              {{/each}}
            </div>
            {{if avatar.artisMark}}
            {{set mark = avatar.artisMark}}
            <span class="arti-mark-class class-{{mark.markClass}}">{{mark.markClass}}</span>
            {{mark.mark}}
            {{else}}
            <span class="arti-na">暂无面板数据</span>
            {{/if}}
          </div>

        </div>
      </div>
      {{/each}}
    </div>
    {{if talentNotice}}
    <p class="cont-notice">{{talentNotice}}</p>
    {{/if}}
  </div>
</div>


{{/block}}