{{extend elemLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/character/profile-detail.css"/>
<link rel="stylesheet" type="text/css" href="{{_res_path}}/character/profile-list.css"/>
{{/block}}


{{block 'main'}}
{{set demo = chars[0]?.abbr || "雷神" }}
<div class="profile-cont game-{{game}}">
  <div class="head-box">
    <div class="title">#面板列表
      <div class="label">UID:{{uid}}</div>
    </div>
    {{if msg}}
    <div class="label">{{msg}}</div>
    {{/if}}
    <div class="label">你可以使用<span>#{{demo}}面板</span>、<span>#{{demo}}伤害</span>、<span>#{{demo}}圣遗物</span>命令来查看面板信息了
    </div>
  </div>
  <div class="cont group-rank-tip {{groupRank?'has-rank':'no-rank'}}">
    <div class="cont-title">
      {{if !allowRank}}
      <span> <i class="group-rank-icon dmg-icon"></i>本面板暂未参与排名，参与要求：{{rankCfg.limitTxt}} </span>
      {{else}}
      <span>
      <i class="group-rank-icon dmg-icon"></i>综合练度排名
      <i class="group-rank-icon mark-icon"></i>圣遗物评分排名
    </span>
      <span class="rank-time">
      排名：本群内 {{rankCfg.time}} 后，通过 #面板 命令查看过的角色数据
    </span>
      {{/if}}
    </div>
  </div>
  <div class="cont {{groupRank?'has-rank':'no-rank'}}">
    <div class="char-list">
      {{each chars char}}
      <div class="char-item {{char.isNew&&hasNew ?'new-char':''}}">
        <div class="item-icon char-icon star{{char.star}}">
       <span class="img"
             style="background-image:url({{_res_path}}{{char.face}})"></span>
        </div>
        <span class="name">{{char.abbr}}<span class="cons cons-{{char.cons}}">{{char.cons}}</span></span>
        {{if char.groupRank}}
        {{set gr = char.groupRank}}
        {{set rank = gr.rank >= (rankCfg.number || 15) ? 10:(gr.rank <=3 ? gr.rank : 4)}}
        <div class="group-rank rank-{{rank}} rank-type-{{gr.rankType}}">
          <span>{{gr.rank}}</span>
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
    <div class="cont-footer">
      {{if hasNew}}
      <span class="new-tip">本次更新角色</span>
      {{else}}
      <span>{{if updateTime.profile }} 更新时间：{{updateTime.profile }} {{/if}}</span>
      {{/if}}
      <span class="serv">
      当前更新服务：{{servName}}
    </span>
    </div>
  </div>
</div>
{{/block}}
