.font-YS {
  font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
.font-NZBZ {
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}
body {
  width: 600px;
}
.container {
  width: 600px;
  padding: 0;
  background-size: cover;
  overflow: hidden;
}
.basic {
  position: relative;
  margin-bottom: 10px;
}
.basic:after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 115px;
  bottom: 0;
  right: 8px;
  box-shadow: 0 0 2px 0 #fff;
  border-radius: 5px;
  z-index: 1;
}
.main-pic {
  width: 800px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -260px;
  position: relative;
  z-index: 2;
}
.detail {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  z-index: 3;
}
.char-name {
  font-size: 50px;
  font-family: Number, "印品南征北战NZBZ体", NZBZ, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
  text-shadow: 0 0 3px #000, 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: right;
}
.char-lv {
  margin-bottom: 20px;
  text-shadow: 0 0 3px #000, 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: right;
}
.char-lv .cons {
  margin-left: 5px;
  vertical-align: bottom;
}
.attr {
  border-radius: 4px;
  overflow: hidden;
}
.detail ul.attr li {
  width: 300px;
  font-size: 17px;
  list-style: none;
  padding: 0 100px 0 35px;
  position: relative;
  height: 32px;
  line-height: 32px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.detail ul.attr li i {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("./imgs/icon.png");
  background-size: auto 20px;
  position: absolute;
  left: 10px;
  top: 8px;
  opacity: 0.9;
  transform: scale(0.9);
}
.i-hp {
  background-position: -20px 0;
}
.i-atk {
  background-position: -40px 0;
}
.i-def {
  background-position: -60px 0;
}
.i-mastery {
  background-position: -80px 0;
}
.i-cr {
  background-position: -100px 0;
}
.i-cd {
  background-position: -140px 0;
}
.i-re {
  background-position: -120px 0;
}
.i-dmg {
  background-position: -160px 0;
}
.detail .attr li:nth-child(even),
.detail.attr li:nth-child(even) {
  background: rgba(0, 0, 0, 0.4);
}
.detail .attr li:nth-child(odd),
.detail.attr li:nth-child(odd) {
  background: rgba(50, 50, 50, 0.4);
}
.detail .attr li strong,
.detail.attr li strong {
  display: inline-block;
  position: absolute;
  right: 85px;
  text-align: right;
  font-weight: normal;
}
.detail .attr li span,
.detail.attr li span {
  position: absolute;
  right: 0;
  text-align: left;
  width: 75px;
  display: inline-block;
  color: #90e800;
  font-size: 15px;
}
.talent-icon {
  width: 100px;
  height: 100px;
  padding: 5px;
  display: table;
  border-radius: 50%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 90;
}
.talent-icon img,
.talent-icon .talent-icon-img {
  width: 46%;
  height: 46%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22% 0 0 -23%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.talent-icon span {
  background: #fff;
  width: 34px;
  height: 26px;
  line-height: 26px;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  margin-left: -15px;
  color: #000;
  box-shadow: 0 0 5px 0 #000;
}
.talent-icon.talent-plus span {
  background: #2e353e;
  color: #ffdfa0;
  font-weight: bold;
  box-shadow: 0 0 1px 0 #d3bc8e, 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.talent-icon.talent-crown:after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url("../character/imgs/crown.png") no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -14px;
}
.char-talents {
  display: flex;
  width: 300px;
  margin: 0 0 10px 0;
}
.char-cons {
  display: flex;
  width: 250px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
.char-cons .talent-item,
.char-talents .talent-item {
  flex: 1;
}
.char-cons .talent-icon {
  width: 50px;
  height: 50px;
  margin: 0 -5px;
}
.char-cons .talent-icon.off {
  filter: grayscale(100%);
  opacity: 0.4;
}
.elem_anemo .talent-icon {
  background-image: url(../common/bg/talent-anemo.png);
}
.elem_anemo .container {
  background-image: url(../common/bg/bg-anemo.jpg);
}
.elem_cryo .talent-icon {
  background-image: url(../common/bg/talent-cryo.png);
}
.elem_cryo .container {
  background-image: url(../common/bg/bg-cryo.jpg);
}
.elem_electro .talent-icon {
  background-image: url(../common/bg/talent-electro.png);
}
.elem_electro .container {
  background-image: url(../common/bg/bg-electro.jpg);
}
.elem_geo .talent-icon {
  background-image: url(../common/bg/talent-geo.png);
}
.elem_geo .container {
  background-image: url(../common/bg/bg-geo.jpg);
}
.elem_hydro .talent-icon {
  background-image: url(../common/bg/talent-hydro.png);
}
.elem_hydro .container {
  background-image: url(../common/bg/bg-hydro.jpg);
}
.elem_pyro .talent-icon {
  background-image: url(../common/bg/talent-pyro.png);
}
.elem_pyro .container {
  background-image: url(../common/bg/bg-pyro.jpg);
}
.data-info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  text-align: right;
  text-shadow: 1px 1px 1px #000;
  z-index: 2;
  line-height: 20px;
  padding-right: 5px;
}
.data-info .time {
  margin-left: 5px;
}
/***  dmg ***/
.cont {
  border-radius: 10px;
  background: url("../common/cont/card-bg.png") top left repeat-x;
  background-size: auto 100%;
  margin: 5px 15px 5px 10px;
  position: relative;
  box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
  overflow: hidden;
  color: #fff;
  font-size: 16px;
}
.dmg-cont {
  display: table;
  width: calc(100% - 25px);
  margin-top: 10px;
  margin-bottom: 10px;
}
.dmg-mode .dmg-list .cont-footer {
  display: none;
}
.cont-title {
  background: rgba(0, 0, 0, 0.4);
  color: #d3bc8e;
  padding: 10px 20px;
  text-align: left;
}
.cont-title span {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
  font-weight: normal;
}
.cont-footer {
  padding: 10px 15px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}
.cont-table {
  display: table;
  width: 100%;
}
.dmg-cont .tr {
  display: table-row;
}
.dmg-cont .tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.4);
}
.dmg-cont .tr:nth-child(odd) {
  background: rgba(50, 50, 50, 0.4);
}
.dmg-cont .tr > div {
  display: table-cell;
  box-shadow: 0 0 1px 0 #fff;
}
.dmg-cont .tr > div.value-full {
  display: table;
  width: 200%;
}
.dmg-cont .tr > div.value-none {
  box-shadow: none;
}
.dmg-cont .thead {
  text-align: center;
}
.dmg-cont .thead > div {
  color: #d3bc8e;
  background: rgba(0, 0, 0, 0.4);
  line-height: 40px;
  height: 40px;
}
.dmg-cont .title,
.dmg-cont .th {
  color: #d3bc8e;
  padding-right: 15px;
  text-align: right;
  background: rgba(0, 0, 0, 0.4);
  min-width: 100px;
}
.profile-mode .dmg-idx {
  display: none !important;
}
.profile-mode .dmg-title {
  width: 33.3333%;
}
.dmg-mode .dmg-idx {
  display: table-cell;
  width: 5%;
  min-width: initial;
  padding-right: 0;
  text-align: center;
}
.dmg-mode .dmg-title {
  width: 31%;
  min-width: initial;
  text-align: left;
  padding-left: 10px;
  padding-right: 0;
}
.dmg .value {
  text-align: center;
  color: #fff;
  display: block;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  width: 32%;
}
.dmg-notice {
  font-size: 12px;
  text-align: right;
  color: #f5f5f5;
  margin-right: 15px;
}
/*** artis***/
.artis {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  margin-bottom: 5px;
  padding: 0 5px;
}
.artis .item {
  width: 185px;
  border-radius: 10px;
  background: url("../common/cont/card-bg.png") top left repeat-x;
  background-size: auto 100%;
  margin: 5px;
  position: relative;
  box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
  overflow: hidden;
}
.artis .item .arti-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 2px;
  top: 3px;
}
.artis .item .arti-icon span {
  position: absolute;
  right: 2px;
  bottom: 0;
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 18px;
  line-height: 18px;
  padding: 0 3px;
  color: #fff;
  font-size: 12px;
  display: block;
}
.artis .item .arti-icon img {
  width: 60px;
  height: 60px;
}
.artis .head {
  color: #fff;
  padding: 12px 0 8px 68px;
}
.artis .head strong {
  font-size: 15px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
.artis .head span {
  font-size: 14px;
}
.artis.input-mode .item {
  height: 100px;
  margin: 5px 3px;
}
.artis.input-mode .item.weapon {
  margin-left: 5px;
}
.artis.input-mode .item.arti {
  width: 72px;
}
.artis.input-mode .item.arti .arti-icon,
.artis.input-mode .item.arti img {
  width: 68px;
  height: 68px;
}
.artis.input-mode .item.arti .head {
  padding: 78px 0 0 0;
}
.artis.input-mode .item.arti .head strong {
  font-size: 12px;
  text-align: center;
}
.mark-ACE,
.mark-ACE² {
  color: #e85656;
  font-weight: bold;
}
.mark-SSS,
.mark-SS {
  color: #ffe699;
  font-weight: bold;
}
.mark-S,
.mark-A {
  color: #d699ff;
  font-weight: bold;
}
.arti-main {
  color: #fff;
  padding: 6px 15px;
}
.artis ul.detail {
  width: 100%;
  padding: 0;
  position: initial;
  display: table;
}
.artis ul.detail li {
  padding: 0 3px;
  font-size: 14px;
  position: initial;
  width: 100%;
  display: table-row;
  line-height: 26px;
  height: 26px;
}
.artis ul.detail li.great span.title {
  color: #ffe699;
}
.artis ul.detail li.nouse span {
  color: #888;
}
.artis ul.detail li.arti-main {
  font-size: 16px;
  padding: 3px 3px;
  font-weight: bold;
}
.artis ul.detail li span {
  position: initial;
  display: table-cell;
  color: #fff;
}
.artis ul.detail li span.title {
  text-align: left;
  padding-left: 10px;
}
.artis ul.detail li span.val {
  text-align: right;
  padding-right: 10px;
}
.artis .weapon .star {
  height: 20px;
  width: 100px;
  background: url("../common/item/star.png") no-repeat;
  background-size: 100px 100px;
  transform: scale(0.8);
  transform-origin: 100px 10px;
  display: inline-block;
}
.artis .weapon .star.star-2 {
  background-position: 0 -20px;
}
.artis .weapon .star.star-3 {
  background-position: 0 -40px;
}
.artis .weapon .star.star-4 {
  background-position: 0 -60px;
}
.artis .weapon .star.star-5 {
  background-position: 0 -80px;
}
.artis .weapon {
  overflow: hidden;
  height: 97px;
}
.artis .weapon img {
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}
.artis .weapon .head {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;
  padding: 13px 12px 13px 0;
  z-index: 3;
}
.artis .weapon .head strong {
  font-size: 18px;
  margin-bottom: 3px;
  font-weight: normal;
}
.artis .weapon .head > span {
  display: block;
}
.artis .weapon span {
  font-size: 16px;
}
.artis .weapon .affix {
  color: #000;
  padding: 0 7px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 16px;
}
.artis .weapon .affix-1 {
  box-shadow: 0 0 4px 0 #a3a3a3 inset;
  background: #ebebebaa;
}
.artis .weapon .affix-2 {
  box-shadow: 0 0 4px 0 #51b72fbd inset;
  background: #ddffdeaa;
}
.artis .weapon .affix-3 {
  box-shadow: 0 0 4px 0 #396cdecf inset;
  background: #ddebffaa;
}
.artis .weapon .affix-4 {
  box-shadow: 0 0 4px 0 #c539debf inset;
  background: #ffddf0aa;
}
.artis .weapon .affix-5 {
  box-shadow: 0 0 4px 0 #deaf39 inset;
  background: #fff6dd;
}
.artis .arti-stat {
  height: 85px;
}
.arti-stat {
  height: 90px;
  margin-top: 10px;
  padding: 13px 10px;
  display: table;
}
.arti-stat > div {
  display: table-cell;
  text-align: center;
  color: #fff;
}
.arti-stat strong {
  display: block;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
}
.dmg-msg {
  font-size: 13px;
  font-weight: normal;
}
.dmg-msg .thead > div {
  text-align: left;
  padding-left: 10px;
}
.dmg-msg .th {
  text-align: left;
  padding-left: 10px;
}
.dmg-msg .tr .td {
  padding: 8px 10px;
}
.dmg-msg .info {
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
  font-weight: normal;
}
.dmg-calc .thead > div {
  line-height: initial;
}
.dmg-calc .cont-table div {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.dmg-calc .title {
  text-align: center;
  padding-right: 0;
  min-width: 70px;
}
.dmg-calc .td {
  padding: 5px 0;
}
.dmg-calc strong {
  font-weight: normal;
  display: block;
}
.dmg-calc span {
  font-size: 12px;
  color: #aaa;
}
.dmg-calc .na,
.dmg-calc .eq {
  background: rgba(50, 50, 50, 0.5);
}
.dmg-calc .na {
  color: #888;
}
.dmg-calc .lt {
  background: rgba(23, 112, 41, 0.5);
}
.dmg-calc .gt {
  background: rgba(112, 23, 23, 0.5);
}
.dmg-desc {
  color: #aaa;
}
.dmg-desc ul {
  padding-left: 10px;
}
.dmg-desc ul li {
  color: #aaa;
}
.dmg-desc strong {
  color: #d3bc8e;
  display: inline;
  padding: 0 3px;
  font-weight: normal;
}
.arti-stat span {
  font-size: 13px;
  line-height: 20px;
  color: #bbb;
}
.char-优菈 .main-pic {
  margin-left: -175px;
}
.char-烟绯 .main-pic {
  margin-left: -135px;
}
.char-香菱 .main-pic {
  margin-left: -195px;
}
.char-迪奥娜 .main-pic {
  margin-left: -180px;
}
.char-可莉 .main-pic {
  margin-left: -210px;
}
.char-凝光 .main-pic {
  margin-left: -320px;
}
.char-班尼特 .main-pic {
  margin-left: -220px;
}
/*# sourceMappingURL=profile-detail.css.map */