{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/character/profile-stat.css"/>
{{/block}}


{{block 'main'}}
<div class="head-box">
  <div class="title">#面板练度统计</div>
  <div class="label">UID:{{uid}} 共{{avatars.length }}名角色</div>
</div>
<div id="profile-stat">
  <div class="cont">
    <div class="cont-table">
      <div class="avatar tr thead">
        <div class="td-idx">#</div>
        <div class="td-name">角色</div>
        <div class="td-lv">Lv</div>
        <div class="td-cons">命座</div>
        <div class="td-fetter">好感</div>
        <div class="td-talent">A</div>
        <div class="td-talent">E</div>
        <div class="td-talent">Q</div>
        {{if mode === 'talent'}}
        <div class="td">周本</div>
        <div class="td">天赋书</div>
        {{else}}
        <div class="td-weapon">武器</div>
        <div class="td-artis">圣遗物</div>
        {{/if}}
      </div>
      {{each avatars avatar idx}}
      {{set talent = avatar.talent}}
      {{set weapon = avatar.weapon}}
      {{set tk = ['a','e','q'] }}
      <div class="avatar tr">
        <div class="td td-idx  star{{avatar.star}}">{{idx+1}}</div>
        <div class="td td-name  star{{avatar.star}}">
          <div class="item-banner">
            <div class="item-icon char-icon star{{avatar.star}}">
              <span class="img" style="background-image:url({{_res_path}}{{avatar.face}})"></span>
            </div>

            <span class="item-name">{{avatar.abbr||avatar.name}}</span>
          </div>
        </div>
        <div class="td td-lv">{{avatar.level}}</div>
        <div class="td td-cons">
          <span class="cons avatar cons-{{avatar.cons}}">{{avatar.cons}}</span>
        </div>
        <div class="td td-fetter">
          <span class="fetter fetter{{['空','荧','旅行者'].includes(avatar.name)?10:avatar.fetter}}"></span>
        </div>
        {{set talentLvMap = [0,1,1,1,2,2,3,3,3,4,5] }}
        {{each tk talentKey}}
        {{set curr = (avatar.talent||{})[talentKey] || {original:1,level:'-'} }}
        <div class="td-talent lv{{talentLvMap[curr.original]}} {{curr.level>curr.original?'talent-plus':''}}">
          {{curr.level}}
        </div>
        {{/each}}
        {{if mode === 'talent'}}
        {{set m = avatar.materials || {} }}
        {{set w = {'周一/周四':1,'周二/周五':2, '周三/周六':3}[m.talent?.num] }}
        {{set isToday = (week === 6) || (week % 3 + 1 === w)}}
        <div class="td td-weekly {{isToday?'today':'not-today'}}">
          <div class="item-icon">
            <span class="img" style="background-image:url({{_res_path}}{{m.weekly?.icon}})"></span>
          </div>
        </div>
        <div class="td {{isToday?'today':'not-today'}} td-material">
          <div class="item-icon">
            <span class="img" style="background-image:url({{_res_path}}{{m.talent?.icon}})"></span>
          </div>
          {{m.talent?.label || '-'}} (周{{['1/4','2/5','3/6'][w-1] || '-'}})
        </div>

        {{else}}
        <div class="td td-weapon  star{{weapon?.star}}">
          {{if weapon?.name}}
          <div class="item-banner star{{weapon.star}}">
            <span class="level">{{weapon.level}}</span>
            <div class="item-icon weapon-icon">
              <span class="img" style="background-image:url({{_res_path}}{{weapon.img}})"></span>
            </div>
            <span class="cons weapon cons-{{weapon.affix+1}} star{{weapon.star}}">{{weapon.affix}}</span>
            <span class="item-name">{{weapon.abbr}}</span>
          </div>
          {{/if}}
        </div>
        {{set mark = avatar.artisMark || false }}
        {{set imgs = avatar?.artisMark?.imgs || avatar?.artisSet?.imgs || []}}
        <div class="td td-artis class-{{mark?.markClass||'D'}}">
          <div class="item item-banner avatar-artis artis{{imgs.length}}">
            <div class="artis item-icon {{imgs.length>0?'star5':'no-artis'}}">
              {{each imgs img}}
              <div class="img" style="background-image:url({{_res_path}}{{img}})"></div>
              {{/each}}
              {{if imgs.length === 0}}
              <span class="img no-artis"></span>
              {{/if}}
            </div>
            {{if mark}}
            <span class="artis-mark-class class-{{mark?.markClass||'D'}}">{{mark.markClass}}</span>
            {{mark.mark}}
            {{else}}
            <span class="artis-na">暂无面板数据</span>
            {{/if}}
          </div>
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>

    <div class="cont-notice">
      {{set ut = updateTime }}
      {{if ut.profile || ut.mys}}
      <strong>数据更新时间</strong>
      {{if ut.profile}}
      <span>#更新面板: {{ut.profile}}</span>
      {{/if}}
      {{if ut.mys}}
      <span>米游社: {{ut.mys}}</span>
      <div>
        天赋数据每2小时最多更新一次，可通过<strong>#刷新天赋</strong>来强制刷新天赋数据，需具备有效CK
      </div>
      {{/if}}
      {{else}}
      未绑定CK或CK失效，信息可能不完全。发送<strong>#体力帮助</strong>查看CK绑定方法，发送<strong>#更新面板</strong>更新游戏内角色展柜信息
      {{/if}}
    </div>

  </div>
</div>
{{/block}}
