.container {
  background-size: cover;
}
#profile-stat {
  display: table;
  border-collapse: collapse;
  width: calc(100% + 30px);
  margin: 0 -15px -5px;
  overflow: hidden;
}
#profile-stat .cont {
  font-size: 14px;
  background: none;
}
#profile-stat .cons {
  height: 22px;
  line-height: 22px;
  display: inline-block;
  width: 19px;
  padding: 0 0 0 1px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0 3px 3px 0;
  margin-left: -4px;
  font-size: 13px;
}
#profile-stat .item-icon.star1,
#profile-stat .cons.star1 {
  box-shadow: 0 0 0 1px #ababab;
}
#profile-stat .item-icon.star2,
#profile-stat .cons.star2 {
  box-shadow: 0 0 0 1px #d0ffbe;
}
#profile-stat .item-icon.star3,
#profile-stat .cons.star3 {
  box-shadow: 0 0 0 1px #bed0ff;
}
#profile-stat .item-icon.star4,
#profile-stat .cons.star4 {
  box-shadow: 0 0 0 1px #dfbeff;
}
#profile-stat .item-icon.star5,
#profile-stat .cons.star5 {
  box-shadow: 0 0 0 1px #ffe4b4;
}
#profile-stat .item-name {
  text-shadow: 0 0 1px #000, 1px 1px 2px rgba(0, 0, 0, 0.8);
}
#profile-stat .item-name.star4 {
  color: #dfbeff;
}
#profile-stat .item-name.star5 {
  color: #ffe4b4;
}
#profile-stat .tr.thead .td-name {
  padding-right: 22px;
}
#profile-stat .tr.thead .td-talent {
  box-shadow: none;
}
#profile-stat .tr.thead .td-weapon {
  padding-left: 50px;
}
#profile-stat .tr.thead .td-artis {
  text-align: left;
}
#profile-stat .tr > div {
  text-align: center;
  height: 36px;
  vertical-align: middle;
  line-height: 36px;
  box-shadow: none;
}
#profile-stat .tr > div * {
  vertical-align: middle;
}
#profile-stat .tr > div.star4 {
  background: rgba(102, 59, 143, 0.5);
}
#profile-stat .tr > div.star5 {
  background: rgba(124, 95, 45, 0.5);
}
#profile-stat .tr .index {
  color: #333;
  width: 30px;
  padding-left: 5px;
}
#profile-stat .tr .td-level {
  width: 30px;
  text-align: right;
}
#profile-stat .tr .td-name {
  text-align: right;
  width: 110px;
  padding-right: 8px;
}
#profile-stat .tr .td-name .char-icon {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
  overflow: visible;
}
#profile-stat .tr .td-name .char-icon .img {
  width: 34px;
  height: 34px;
  position: relative;
  top: -3px;
  left: -2px;
}
#profile-stat .tr .td-name .cons {
  margin-left: -5px;
}
#profile-stat .tr .td-fetter {
  width: 40px;
  text-align: center;
  padding-right: 5px;
}
#profile-stat .tr .td-fetter .fetter {
  width: 32px;
  height: 32px;
}
#profile-stat .tr .td-talent {
  width: 36px;
  box-shadow: 0 0 1px 0 rgba(150, 150, 150, 0.5);
}
#profile-stat .tr .td-weapon {
  text-align: left;
  padding-left: 10px;
}
#profile-stat .tr .td-weapon .lv {
  width: 38px;
  text-align: right;
  padding-right: 2px;
  display: inline-block;
  white-space: nowrap;
}
#profile-stat .tr .td-weapon .lv:before {
  content: "Lv.";
  display: inline-block;
  font-size: 12px;
  transform: scale(0.8);
}
#profile-stat .tr .td-weapon .weapon-icon {
  border-radius: 3px 0 0 3px;
}
#profile-stat .tr .td-weapon .cons {
  border-radius: 0 3px 3px 0;
}
#profile-stat .tr .weapon-icon {
  width: 25px;
  height: 22px;
  display: inline-block;
  overflow: visible;
}
#profile-stat .tr .weapon-icon .img {
  width: 36px;
  height: 36px;
  margin: -8px 0 0 -7px;
}
#profile-stat .tr .lv1 {
  background: rgba(60, 63, 65, 0.5);
}
#profile-stat .tr .lv2 {
  background: rgba(23, 184, 58, 0.4);
}
#profile-stat .tr .lv3 {
  background: rgba(27, 128, 212, 0.4);
}
#profile-stat .tr .lv4 {
  background: rgba(146, 90, 255, 0.4);
}
#profile-stat .tr .lv5 {
  background: url("../common/item/crown-o.png") center center no-repeat rgba(255, 36, 26, 0.35);
  background-size: contain;
}
#profile-stat .td-artis {
  width: 120px;
  text-align: left;
}
#profile-stat .avatar-artis {
  margin-left: 3px;
  text-align: left;
  position: relative;
  z-index: 10;
}
#profile-stat .avatar-artis .artis {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgba(51, 51, 51, 0.68);
  box-shadow: 0 0 1px 0 #ffe4b4;
  display: inline-block;
}
#profile-stat .avatar-artis.artis2 .img {
  position: absolute;
  width: 24px;
  height: 24px;
}
#profile-stat .avatar-artis.artis2 .img:first-child {
  left: -2px;
  top: -2px;
}
#profile-stat .avatar-artis.artis2 .img:last-child {
  right: -2px;
  bottom: -2px;
}
#profile-stat .arti-mark-class {
  width: 30px;
  font-size: 12px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  text-align: center;
  background: #888;
  height: 18px;
  line-height: 18px;
  margin-left: -5px;
  box-shadow: 0 0 1px 0 #ffe4b4;
  position: relative;
  z-index: 9;
}
#profile-stat .arti-mark-class.class-ACE,
#profile-stat .arti-mark-class.class-ACE² {
  background: #ff5722;
}
#profile-stat .arti-mark-class.class-SSS,
#profile-stat .arti-mark-class.class-SS {
  background: #ab7e31;
}
#profile-stat .arti-mark-class.class-S,
#profile-stat .arti-mark-class.class-A {
  background: #8a2cc9;
}
.cont-notice {
  color: #666;
  background: rgba(0, 0, 0, 0.7);
  text-align: right;
  padding: 8px;
}
/*# sourceMappingURL=profile-stat.css.map */