@font-face {
  font-family: "HWZS";
  src: url("../common/font/华文中宋.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Number";
  src: url("../common/font/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NZBZ";
  src: url("../common/font/NZBZ.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YS";
  src: url("../common/font/HYWenHei-55W.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 18px;
  color: #1e1f20;
  font-family: PingFangSC-Medium, PingFang SC, sans-serif;
  transform: scale(1.4);
  transform-origin: 0 0;
  background: url("./bg1.png") top left no-repeat #2a3860;
  background-size: contain;
  width: 600px;
}

.container {
  width: 600px;
  padding: 20px 15px 10px 15px;

  background-size: contain;
}


.head-box {
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
  color: #fff;
  margin-top: 30px;

}

.head-box .title {
  font-size: 36px;
  font-family: NZBZ, sans-serif;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, .9);
}


.head-box .genshin_logo {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 97px;
}

.head-box .label {
  font-size: 16px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, .9);
}


.notice {
  color: #888;
  font-size: 12px;
  text-align: right;
  padding: 12px 5px 5px;
}

.notice-center {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #333;
}

.copyright {
  font-size: 16px;
  font-family: Number, sans-serif;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 10px;
}

.cons {
  border-radius: 4px;
}

.cons-0 {
  background: #666;
  color: #fff;
}

.cons-1 {
  background-color: #71b167;
  color: #fff;
}

.cons-2 {
  background-color: #369961;
  color: #fff;
}

.cons-3 {
  background-color: #4596b9;
  color: #fff;
}

.cons-4 {
  background-color: #4560b9;
  color: #fff;
}

.cons-5 {
  background-color: #531ba9cf;
  color: #fff;
}

.cons-6 {
  background-color: #ff5722;
  color: #fff;
}

/********  ELEM  ********/

.elem-anemo .talent-icon {
  background-image: url(../common/bg/talent-anemo.png)
}

.elem-anemo .elem-bg {
  background-image: url(../common/bg/bg-anemo.jpg);
}


.elem-cryo .talent-icon {
  background-image: url(../common/bg/talent-cryo.png)
}

.elem-cryo .elem-bg {
  background-image: url(../common/bg/bg-cryo.jpg);
}


.elem-electro .talent-icon {
  background-image: url(../common/bg/talent-electro.png)
}

.elem-electro .elem-bg {
  background-image: url(../common/bg/bg-electro.jpg);
}


.elem-geo .talent-icon {
  background-image: url(../common/bg/talent-geo.png)
}

.elem-geo .elem-bg {
  background-image: url(../common/bg/bg-geo.jpg);
}


.elem-hydro .talent-icon {
  background-image: url(../common/bg/talent-hydro.png)
}

.elem-hydro .elem-bg {
  background-image: url(../common/bg/bg-hydro.jpg);
}


.elem-pyro .talent-icon {
  background-image: url(../common/bg/talent-pyro.png)
}

.elem-pyro .elem-bg {
  background-image: url(../common/bg/bg-pyro.jpg);
}