.item-card {
  width: 66px;
  margin: 4px;
  position: relative;
  border-radius: 5px;
}
.item-card .badge {
  overflow: hidden;
  border-radius: 50%;
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  right: -4px;
  top: -4px;
  background: #e9e5dc;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8), 2px 2px 2px rgba(50, 50, 50, 0.5);
  z-index: 10;
}
.item-card .badge img {
  width: 140%;
  left: -27%;
  top: -45%;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.item-card .item-bg {
  width: 100%;
  padding: 100% 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.item-card .bg1 {
  background-image: url("./item/bg1.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg-1 {
  background-image: url("./item/bg1.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg2 {
  background-image: url("./item/bg2.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg-2 {
  background-image: url("./item/bg2.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg3 {
  background-image: url("./item/bg3.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg-3 {
  background-image: url("./item/bg3.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg4 {
  background-image: url("./item/bg4.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg-4 {
  background-image: url("./item/bg4.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg5 {
  background-image: url("./item/bg5.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .bg-5 {
  background-image: url("./item/bg5.png");
  border-radius: 5px 5px 15px 0;
}
.item-card .box {
  border-radius: 5px;
  overflow: hidden;
  background: #e9e5dc;
}
.item-card .box .item-desc {
  display: block;
  font-weight: 500;
  text-align: center;
  bottom: 0;
  background: #e9e5dc;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-family: Number, YS;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 3px;
}
.item-card .box .item-desc:last-child {
  padding-bottom: 2px;
}
.item-card .box .name {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}
.item-card .box .item-img {
  width: 100%;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}
.item-card .item-life {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9;
  font-size: 13px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  padding: 1px 4px;
  border-radius: 3px;
  font-family: "tttgbnumber";
}
.item-card .life1 {
  background-color: #62a8ea;
}
.item-card .life2 {
  background-color: #62a8ea;
}
.item-card .life3 {
  background-color: #62a8ea;
}
.item-card .life4 {
  background-color: #ff5722;
}
.item-card .life5 {
  background-color: #ff5722;
}
.profile {
  position: relative;
  margin-bottom: 10px;
}
.profile:after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 115px;
  bottom: 0;
  right: 8px;
  box-shadow: 0 0 2px 0 #fff;
  border-radius: 5px;
  z-index: 1;
}
.profile .main-pic {
  width: 800px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -260px;
  position: relative;
  z-index: 2;
}
.profile .detail {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  z-index: 3;
}
.profile .char-name {
  font-size: 50px;
  font-family: NZBZ;
  text-shadow: 0 0 3px #000, 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: right;
}
.profile .char-lv {
  font-family: Number;
  margin-bottom: 20px;
  text-shadow: 0 0 3px #000, 2px 2px 4px rgba(0, 0, 0, 0.7);
  text-align: right;
}
.profile .attr {
  border-radius: 4px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
}
.profile .detail li {
  width: 300px;
  font-size: 17px;
  list-style: none;
  padding: 0 100px 0 35px;
  position: relative;
  font-family: YS;
  height: 32px;
  line-height: 32px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.profile .attr li i {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("../character/icon.png");
  background-size: auto 20px;
  position: absolute;
  left: 10px;
  top: 8px;
  opacity: 0.9;
  transform: scale(0.9);
}
.profile .i-hp {
  background-position: -20px 0;
}
.profile .i-atk {
  background-position: -40px 0;
}
.profile .i-def {
  background-position: -60px 0;
}
.profile .i-mastery {
  background-position: -80px 0;
}
.profile .i-cr {
  background-position: -100px 0;
}
.profile .i-cd {
  background-position: -140px 0;
}
.profile .i-re {
  background-position: -120px 0;
}
.profile .i-dmg {
  background-position: -160px 0;
}
.profile .detail li:nth-child(even) {
  background: rgba(0, 0, 0, 0.4);
}
.profile .detail li:nth-child(odd) {
  background: rgba(50, 50, 50, 0.4);
}
.profile .detail li strong {
  display: inline-block;
  position: absolute;
  right: 85px;
  text-align: right;
  font-family: Number, sans-serif;
  font-weight: normal;
}
.profile .detail li span {
  position: absolute;
  right: 0;
  text-align: left;
  width: 75px;
  display: inline-block;
  font-family: Number, sans-serif;
  color: #90e800;
  font-size: 15px;
}
.profile .talent-icon {
  width: 100px;
  height: 100px;
  padding: 5px;
  display: table;
  border-radius: 50%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 90;
}
.profile .talent-icon img,
.profile .talent-icon .profile .talent-icon-img {
  width: 46%;
  height: 46%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22% 0 0 -23%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.profile .talent-icon span {
  background: #fff;
  width: 34px;
  height: 26px;
  line-height: 26px;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  margin-left: -15px;
  color: #000;
  box-shadow: 0 0 5px 0 #000;
  font-family: Number;
}
.profile .talent-icon.talent-plus span {
  background: #2e353e;
  color: #ffdfa0;
  font-weight: bold;
  box-shadow: 0 0 1px 0 #d3bc8e, 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.profile .talent-icon.talent-crown:after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url("../../character/imgs/crown.png") no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -14px;
}
.profile .char-talents {
  display: flex;
  width: 300px;
  margin-bottom: 10px;
}
.profile .char-cons .talent-item,
.profile .char-talents .talent-item {
  flex: 1;
}
.profile .char-cons {
  display: flex;
  width: 250px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
.profile .char-cons .talent-icon {
  width: 50px;
  height: 50px;
  margin: 0 -5px;
}
.profile .char-cons .talent-icon.off {
  filter: grayscale(100%);
  opacity: 0.4;
}
.arti-detail {
  width: 185px;
  border-radius: 10px;
  background: url("./cont/card-bg.png") top left repeat-x;
  background-size: auto 100%;
  margin: 5px;
  position: relative;
  box-shadow: 0 0 1px 0 #ccc, 2px 2px 4px 0 rgba(50, 50, 50, 0.8);
  height: 205px;
  overflow: hidden;
}
.arti-detail .arti-icon {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 2px;
  top: 3px;
}
.arti-detail .arti-icon span {
  position: absolute;
  right: 2px;
  bottom: 0;
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 18px;
  line-height: 18px;
  padding: 0 3px;
  color: #fff;
  font-size: 12px;
  display: block;
}
.arti-detail .arti-icon img {
  width: 60px;
  height: 60px;
}
.arti-detail .head {
  color: #fff;
  padding: 12px 0 8px 68px;
}
.arti-detail .head strong {
  font-size: 15px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-font: YS;
}
.arti-detail .head span {
  font-size: 14px;
}
.arti-detail .head .mark {
  font-family: Number, YS;
}
.arti-detail ul.detail {
  width: 100%;
  padding: 0;
  position: initial;
  font-family: YS;
}
.arti-detail ul.detail li {
  padding: 0 3px;
  font-size: 14px;
  position: initial;
  width: 100%;
  display: table;
  line-height: 26px;
  height: 26px;
}
.arti-detail ul.detail li.nouse span {
  color: #888;
}
.arti-detail ul.detail li.arti-main {
  font-size: 16px;
  padding: 3px 3px;
  font-weight: bold;
}
.arti-detail ul.detail li span {
  position: initial;
  display: table-cell;
  color: #fff;
  font-family: YS;
}
.arti-detail ul.detail li span.title {
  text-align: left;
  padding-left: 10px;
}
.arti-detail ul.detail li span.val {
  text-align: right;
  padding-right: 10px;
  font-family: Number;
}
.arti-detail ul.detail li:nth-child(even) {
  background: rgba(0, 0, 0, 0.4);
}
.arti-detail ul.detail li:nth-child(odd) {
  background: rgba(50, 50, 50, 0.4);
}
.arti-detail .avatar-icon {
  position: absolute;
  left: 32px;
  top: 26px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}
.arti-detail .avatar-icon img {
  max-width: 100%;
  max-height: 100%;
}
.arti-detail .arti-icon img {
  width: 52px;
  height: 52px;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  transform-origin: 0 0;
}
.item-list .item {
  width: 65px;
}
/*# sourceMappingURL=tpl.css.map */